.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.modalBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}
.modalContainer {
    z-index: 1001;
}

.modalContent {
    width: 100%;
    background-color: #fff;
}

.modalCloseWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modalCloseWrapper p {
    cursor: pointer;
}